<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <!------ Include the above in your HEAD tag ---------->

    <form
      id="register-form"
      action="/upload"
      role="form"
      autocomplete="off"
      class="form"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <div class="">
          <h5><label for="">Upload PDF File</label></h5>
          <select class="form-control" id="union" name="union" required>
            <option value="">Select Upazila</option>
            <option value="আমলাব">আমলাব</option>
            <option value="চরউজিলাব">চরউজিলাব</option>
            <option value="বাজনাব">বাজনাব</option>
            <option value="বেলাব">বেলাব</option>
            <option value="বিন্নাবাইদ">বিন্নাবাইদ</option>
            <option value="নারায়ণপুর">নারায়ণপুর</option>
            <option value="পাটুলী">পাটুলী</option>
            <option value="সাল্লাবাদ">সাল্লাবাদ</option>
            <!-- Add more options as needed -->
          </select><br>

          <input
            id="pdf"
            name="pdf"
            placeholder="pdf"
            class="form-control"
            type="file"
          />
        </div>
      </div>
      <div class="form-group">
        <input
          name="btnForget"
          class="btn btn-lg btn-primary btn-block btnForget"
          value="Submit"
          type="submit"
        />
      </div>
    </form>
  </body>
</html>
