<form action="/store" method="post">
    <select class="form-control" id="union" name="union">
                                    <option value="">Select Upazila</option>
                                    <option value="আমলাব">আমলাব</option>
                                    <option value="চরউজিলাব">চরউজিলাব</option>
                                    <option value="বাজনাব">বাজনাব</option>
                                    <option value="বেলাব">বেলাব</option>
                                    <option value="বিন্নাবাইদ">বিন্নাবাইদ</option>
                                    <option value="নারায়ণপুর">নারায়ণপুর</option>
                                    <option value="পাটুলী">পাটুলী</option>
                                    <option value="সাল্লাবাদ">সাল্লাবাদ</option>
                                    <!-- Add more options as needed -->
    </select><br>
    <textarea id="textdata" name="textdata" rows="4" cols="50">
        {{ data.contextData }}
    </textarea><br>
    <input type="submit" value="Submit">
</form>